@charset "UTF-8";

* {
          box-sizing: border-box;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          margin: 0px;
          padding: 0px;
}

body {
          background-image: linear-gradient(#4952a0, white);
          height: 100vh;
          width: 100vw;
}

div#formulario > h1 {
          margin-bottom: 10px;
          text-align: center;
}

div#formulario > p {
          font-size: 0.8em;
}

div.campo > input {
          background-color: #8891f5;
          border: 2px solid #8891f5;
          border-radius: 7px;
          font-size: 1em;
          height: 100%;
          padding: 5px;
          transform: translateY(-9px);
          width: calc(100% - 45px);
}/* parte de dentro da primeira e segunda caixa*/

div.campo > input:focus-within {
          background-color: white;
}

div.campo > label {
          display: none;
}

div.campo > span {
          color: white;
          font-size: 2em;
          padding: 5px;
          width: 40px;
}

form > a.botao {
          background-color: white;
          border: 1px solid #32376d;
          border-radius: 5px;
          color: #32376d;
          display: block;
          font-size: 1em;
          height: 50px;
          margin-top: 5px; 
          padding-top: 11px;
          text-align: center;
          text-decoration: none;
          width: 97%;
} /* segundo botao */

form > a.botao:hover {
          background-color: #8891f5;
}

form > a.botao > i {
          font-size: 1em;
}

form > div.campo {
          background-color: #42498f;
          border: 3px solid #42498f;
          border-radius: 7px;
          display: block;
          height: 50px;
          margin: 5px 0px;
          width: 97%;
}

form > input[type=submit] {
          background-color: #4952a0; 
          border: none;
          border-radius: 5px;
          color: white;
          cursor: pointer;
          display: block;
          font-size: 1em;
          height: 50px;
          width: 97%;
} /* primeiro botao */

form > input[type=submit]:hover {
          background-color: #6a74e4;
}

main {
          height: 100%;
          position: relative;
          width: 97%;
}

section#login {
          background-color: white;
          border-radius: 20px;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.404);
          height: 515px;
          left: 50%;
          overflow: hidden;
          position: absolute;
          transform: translate(-50%, -50%);
          transition: width 0.3s, height 0.3s;
          transition-timing-function: ease;
          top: 50%;
          width: 300px;
}

section#login > div#formulario {
          display: block;
          padding-left: 10px;
}          

section#login > div#imagem {
          background: #49a077 url(../imagens/pexels-nickcollins-1292998\ \(1\).jpg);
          background-position: center;
          background-size: cover;
          display: block;
          height: 200px;

}


